hr {
	border: 2px solid red;
	

}

div{
	border-width: 3px;
	border-style: dashed;
	border-color: #ccc;
}

section {
	border-bottom: 1px groove blue
}

h2 {
	border-left-width: 3px;
	border-left-style: dashed;
	border-left-color: green;
	border-right-width: 4px;
	border-right-style: dotted;
	border-right-color: blue;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color:orange;
	border-bottom-width: 2px;
	border-bottom-style: groove;
	border-bottom-color: red;
}